APP_PORT=8080
PUBLIC_HOST=127.0.0.1
PUBLIC_URL=http://127.0.0.1:8080
COLLABORA_URL=http://127.0.0.1:8080/browser/dist/cool.html
COLLABORA_DOMAIN=127\\.0\\.0\\.1
COLLABORA_ADMIN_USER=admin
COLLABORA_ADMIN_PASSWORD=change-this-password
WOPI_SECRET=change-this-secret
WOPI_TOKEN_TTL_MS=3600000
